
nav {
  position: fixed; /* Fixed positioning for the entire navigation */
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 10; 
  display: flex; /* Use flexbox for easy alignment */
  justify-content: flex-start; /* Align logo to the left, nav to the right */
  align-items: center; /* Vertically align items */
  padding: 100px; /* Add padding to the navigation */
}

#site-logo {
  /* No need for additional positioning styles */
}

#top-right-nav {
  list-style: none; /* Remove list markers */
  margin: 0;
  padding: 0;
  display: flex; /* Make the links flex items */
}

#top-right-nav li {
  display: inline-block; /* Arrange links horizontally */
  margin-left: 20px; /* Add spacing between links */
}

#hero {
  position: relative; /* To create a stacking context for its child */
  margin-top: 80px; /* Add top margin to avoid content overlap */
}

#hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1; /* Place the image behind the navigation */
}

.Hds {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #69C;
	line-height: 14pt;
}
body {
  display: flex;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
  flex-direction: column; /* Arrange content vertically */
}

main {
  flex: 1; /* Allow the main content to grow and take up available space */
}


.text {
font-family: Helvetica, sans-serif;
font-size: 14pt;
text-align: left;
}
a:link {
	text-decoration: none;
	color: #999999;
}
a:visited {
	text-decoration: none;
	color: #999999;
}
a:hover {
	color: #000;
}
a:active {
	text-decoration: none;
	color: #F00;
	text-align: center;

footer {
  text-align: center;
  padding: 10px;
 display: flex;
min-height: 100vh;
flex-direction: column;
margin: 0;
}



