* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  
}

nav { 
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 0px;
	line-height: 22pt;
	width: 1200px;
	color: #F00;
}
	
#site-nav {
  position: absolute; 
  top: 0;        
  left: 90px;
  max-width: 1200px;  
  z-index: 10;   
  padding: 0px 0px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  flex-direction: row; 
  align-items: right; 
}
