@charset "UTF-8";
/* CSS Document */
<!--
.title {
	font-family: Neue Haas Grotesk, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 26px;
	color: #0956A6;
	margin-top:20px;
	margin-bottom:15px;
	margin-left:26px;
	margin-right:0px;
}
.banner {
 width: 50%;
}


}
#logo { 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.subt {
	font-family: Neue Haas Grotesk, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #0956A6;
	margin-top:0px;
	margin-bottom:12px;
	margin-left:26px;
	margin-right:0px;
}
.s {
	font-family: Neue Haas Grotesk, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0956A6;
	margin-top:5px;
	margin-bottom:14px;
	margin-left:15px;
	margin-right:0px;
}

.f {
	margin-top:0px;
	margin-bottom:14px;
	margin-left:15px;
	margin-right:0px;	
}
.ft {
	margin-top:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0956A6;
}
a:link {
	text-decoration: none;
	color: #999999;
}
a:visited {
	text-decoration: none;
	color: #999999;
}
a:hover {
	color: #000;
}
a:active {
	text-decoration: none;
	color: #999999;
	text-align: center;
}
body {
	margin-top: 0px;
}
.style1 {
	font-family: Neue Haas Grotesk, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
.style2 {
	color: #CC9900;
	font-family: Neue Haas Grotesk, Helvetica, Arial, sans-serif;
}
.style4 {color: #CC9900; font-family: Neue Haas Grotesk, Helvetica, Arial, sans-serif; font-size: 12px; }
#col1 {
	height: 400px;
	width: 190px;
	float: left;
	text-align: left;
	margin-top: 20px;
	font-family: Neue Haas Grotesk, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	line-height: normal;
	padding: 0px;
	color: #999;
}
#col2 {
	height: auto;
	width: 580px;
	float: left;
	text-align: left;
	margin-top: 20px;
	padding: 0px;
	margin-left: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
	margin-right: 10px;
}
#col3 {
	height: auto;
	width: 190px;
	text-align: left;
	margin-top: 20px;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	font-family: font-family: Neue Haas Grotesk, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	color: #999;
}
#maindisplay_A {
	height: 800px;
	width: auto;
	background-color: #CCC;
}
#contentwrapper {
	height: auto;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
#navbannerb {
	height: auto;
	width: 1000px;
	font-family: Neue Haas Grotesk, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	text-align: center;
	margin-top: 20px;
	display: block;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: none;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
	float: left;
	line-height: normal;
}

