
header {
  display: flex;          /* Make the header a flex container */
  justify-content: space-between; /* Distribute space between navs */
  align-items: center;    /* Vertically align the nav bars */
  padding: 10px 20px;     /* Add some padding to the header */
}

nav {
  /* Styles for each individual nav */
  display: flex; 
  align-items: center; 
}

#top-right-nav li {
  display: inline-block; /* Make list items inline */
  margin-left: 20px;    /* Add space between list items */
}

#bottom-center-nav li {
  display: inline-block; /* Make list items inline */
  margin: 0 10px;         /* Add space between list items */
}


main {
  flex: 1; 
  margin-top: 140px; /* Adjust this value as needed */
}

#site-logo {
  /* No need for additional positioning styles */
}



#hero {
  margin-top: 20px; /* Adjust the value as needed */
}

#hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1; /* Place the image behind the navigation */
}

.Hds {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #69C;
	line-height: 14pt;
}
body {
  display: flex;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
  flex-direction: column; /* Arrange content vertically */
}




.text {
font-family: Helvetica, sans-serif;
font-size: 14pt;
text-align: left;
}
a:link {
	text-decoration: none;
	color: #999999;
}
a:visited {
	text-decoration: none;
	color: #999999;
}
a:hover {
	color: #000;
}
a:active {
	text-decoration: none;
	color: #F00;
	text-align: center;

footer {
  text-align: center;
  padding: 10px;
 }

