/* Layout */
main {
    flex: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#top-right-nav {
    display: flex;
    list-style: none;
    gap: 1rem;
}

/* Hero Section */
#hero img {
    width: 1200px;
    height: auto;
    max-width: 100%;
}

.page-container, .hero-text {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateX(-10%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: justified;
    z-index: 1;
}

.hero-text2 {
    position: relative;
    text-align: center;
    font-size: 1.5rem;  /* Makes it 24px if base font size is 16px */
    line-height: 1.8;   /* Increases line height for better readability */
    margin-bottom: 2rem; /* Adds some space below */}

.attention {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2rem;
    background-color: red;
    
}

/* Content Sections */
.content {
    flex: 1;
    max-width: 60%;
}

.image-container {
    flex: 0 0 auto;
    width: 35%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
}
